{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <title>Cadastro</title>
  </head>

  <body>
    <div class="login-wrapper">
      <div class="login-card">
        <div class="login-header">
          <h2>Crie sua conta demo</h2>
          <p>Email: teste@email.com | Senha: 123@teste</p>
        </div>

        <form method="POST">
          {% csrf_token %}

          <div class="input-group">
            <label>Usuário</label>

            <div class="input-field">
              <span class="icon">👤</span>

              <input
                type="text"
                name="username"
                placeholder="Escolha um nome de usuário"
                required
              />
            </div>
          </div>

          <div class="input-group">
            <label>E-mail</label>

            <div class="input-field">
              <span class="icon">✉️</span>

              <input
                type="email"
                name="email"
                placeholder="Seu melhor e-mail"
                required
              />
            </div>
          </div>

          <div class="input-group">
            <label>Senha</label>

            <div class="input-field">
              <span class="icon">🔒</span>

              <input
                type="password"
                name="password"
                placeholder="Crie uma senha forte"
                autocomplete="new-password"
                required
              />
            </div>
          </div>

          <div class="input-group">
            <label>Confirmar senha</label>

            <div class="input-field">
              <span class="icon">✅</span>

              <input
                type="password"
                name="password_confirm"
                placeholder="Digite novamente"
                autocomplete="new-password"
                required
              />
            </div>
          </div>

          <button class="btn-login">Criar minha conta</button>
        </form>

        <div class="login-footer">
          Já possui uma conta?

          <a href="{% url 'login' %}"> Fazer login </a>
        </div>
      </div>
    </div>
  </body>
</html>
