{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="{% static 'css/login.css' %}" />

    <title>Recuperar senha</title>
  </head>

  <body>
    <div class="login-wrapper">
      <div class="login-card">
        <div class="login-header">
          <h1>Esqueceu sua senha?</h1>

          <p>
            Digite seu e-mail cadastrado para receber as instruções de
            recuperação.
          </p>
        </div>

        <form method="POST">
          {% csrf_token %}

          <div class="input-group">
            <label>E-mail</label>

            <input
              type="email"
              name="email"
              placeholder="Digite seu e-mail"
              required
            />
          </div>

          <button class="btn-login">Enviar link de recuperação</button>
        </form>

        <div class="login-footer">
          <a href="{% url 'login' %}"> ← Voltar para o login </a>
        </div>
      </div>
    </div>
  </body>
</html>
