/* Botão de Resgate Customizado Azul Marinho */
.btn-shop-action {
  background-color: green;
  color: var(--white-pure);
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.btn-shop-action:hover {
  background-color: rgb(0, 167, 0);
}

.btn-shop-action:active {
  transform: scale(0.97);
}

.btn-shop-action-desabilit {
  background-color: rgb(248, 137, 97);
  color: var(--white-pure);
  border: none;
  cursor: not-allowed;
  padding: 3px 7px;
  font-size: 11px;
  font-weight: 600;
  border-radius: var(--radius-sm);
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}

.btn-shop-action-esgot {
  background-color: grey;
  color: var(--white-pure);
  border: none;
  padding: 6px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: var(--radius-sm);
  cursor: pointer;
  transition:
    background-color 0.2s ease,
    transform 0.1s ease;
}
