/* Reset Global da sua aplicação */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--white-soft);
  color: var(--text-main);
}

select {
  border-radius: 0.6rem;
  border-color: #e2e8f0;
  cursor: pointer;
  padding: 0.4rem;
  color: var(--text-main);
}

select:hover {
  background: var(--white-soft);
}

/* Correção Global para evitar que qualquer elemento estoure a tela */
html,
body {
  overflow-x: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* Garante que o container principal respeite a largura da tela */
.main-container {
  min-width: 0; /* Isso é crucial para containers flex não estourarem */
  width: 100%;
}
